.centrarNombre{

    text-align: center;
}
.disflex{

    display: flex;
   flex-direction: row;
    text-align: center;
}
.lineas{

    width: 450px;
    height: 1px;
    background-color: black;
}
.moverTex{
    margin-top: 0%;
   font-family:  monospace;
   
}