
/* texto del nombre  */
#p{

   text-align:center ;
   font-size: 35px;
   font-family:  monospace;  
}

#tabla{
   /* texto del nombre ingresado en los inputs */
   text-align:center ;
   font-size: 35px;
   font-family:  monospace;  
}
#tabla1{

   text-align:center ;
   font-size: 30px;
   font-family:  monospace;  
}

.disflex{
    /* se crea un display flex para mover las lineas horizontal  */
    display: flex;
   flex-direction: row;
   justify-content: center;
}
.lineas{
 /* para editar las lineas */
    width: 180px;
    height: 1px;
    background-color: black;
  
}
.moverTex{
    margin-top: 0%;
   font-family:  monospace;  
  margin-right: 20%;
   font-size: 70%;

   /* para mover y editar texto */
   
}
.tamañoIcon{
 /* tamaño de los icons */
    width: 20px;
    height: 20px;
   
}

.icons{
    /* para  hacer que los icons se acomoden y space around para espacion entre ellos */
 display: flex;
 justify-content: space-around;
 
}
.colorLetras{
    color: black;
    text-decoration: none;

}
.hr2{
    width: 95%;
    height: 1px;
    background-color: black;
}
h2{
    margin-left: 6%;
}

.circulos{
   /* cambiar tamñano a anillos graficos */
    width: 106px;
    height: 100px;
    margin-left: 4%;
}
body{
    
    background-color: rgb(255, 253, 253);
}
.grid{
    display: grid; 
    grid-template-columns: 1fr 1fr ; 
    grid-template-rows: 1fr ; 

 }
 .fotocv{
    margin-left: 40%;
    width: 200px;
    height: 300px;
    transition: 0,5s;
    object-fit: cover;
    /* editar imagen del cv se utilizo transition que hara un movimiento */
 }

 img:hover{
 
  transform: scale(1.2);
 }

.partegris{
 
    background-color: rgb(243, 240, 240); 
    height: 1230px; 
    width: 730px;
    border-radius: 1% solid black;
    margin-left: 20%;
   

}

.border{
    border: solid black 1px ;
   height: 1230px;
}
.img{
    width: 50px;
    height: 50px;
   

     
}
.grid2{
    display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;  
 
  
}
.moverIcons{
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr; 
    margin: 95px;
 /* paraa mover icons y queden acomodados en columnas */
}
    
.v-line{
    border-left: 2px solid #000;
    height: 39%;
    left: 50%;
    position: absolute;
    /* para linea vertical */
   }
   #boton{

   
    background-color: #000;
    color: rgb(255, 255, 255);

   }

   #nombre{
     margin-left: 26%;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
   }
    #boton1{

   
    background-color: #000;
    color: white;

   }

   
   #texto{
   margin-left: 26%;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
   }
    #boton2{

   
    background-color: #000;
    color: white;

   }

   #texto1{
   margin-left: 26%;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     
   }
   #texto2{
   margin-left: 26%;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     
   }
    #boton3{

   
    background-color: #000;
    color: white;

   }
   #texto3{
   margin-left: 26%;
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
     
   }
    #boton4{

   
    background-color: #000;
    color: white;

   }
   
   .botonNube{
   background-color: #c3e5e6;
   border-radius: 15%;
    transition: transform 0.3s ease-in-out;
    border: solid 1px  #c3e5e6;
   }
   .botonNube:hover {
  background-color: #cbdef3; /* Cambia el color al pasar el cursor sobre el botón */
}
  .botonOscuro{
   background-color: #808a8a;
   border-radius: 15%;
   border: solid 1px #808a8a;
   }
  .botonLluvia{
   background-color: #83bdd0;
   border-radius: 15%;
   border: solid 1px #83bdd0;;
   }
   .botonLight{
   background-color: #e2e7ea;
   border-radius: 15%;
   border: solid 1px  #e2e7ea;
   }

   .botones{

   display: grid;
   width: 200px;
   height: 20px;
   gap: 50%;
   
   
   }
 hr{
 background-color: #000;
 }
 .fondoInputs{
  background-color: #ece7e7;
 padding: 60px;
 border-radius: 30%;
 }
