#p{

   text-align:center ;
   font-size: 40px;
   font-family:  monospace;  
}
#tabla{

   text-align:center ;
   font-size: 40px;
   font-family:  monospace;  
}

.disflex{

    display: flex;
   flex-direction: row;
   justify-content: center;
}
.lineas{

    width: 180px;
    height: 1px;
    background-color: black;
  
}
.moverTex{
    margin-top: 0%;
   font-family:  monospace;  
  margin-right: 100px;
   
}
.tamañoIcon{

    width: 20px;
    height: 20px;
   
}

.icons{
 display: flex;
 justify-content: space-around;
 
}
.colorLetras{
    color: black;
    text-decoration: none;
}
.hr2{
    width: 95%;
    height: 1px;
    background-color: black;
}
h2{
    margin-left: 6%;
}

.circulos{

    width: 106px;
    height: 100px;
    margin-left: 4%;
}
body{
    
    background-color: rgb(255, 253, 253);
}
.grid{
    display: grid; 
    grid-template-columns: 1fr 1fr ; 
    grid-template-rows: 1fr ; 

 }
 .fotocv{
    margin-left: 40%;
    width: 200px;
    height: 300px;
    transition: 0,5s;
    object-fit: cover;
 }

 img:hover{
 
  transform: scale(1.2);
 }

.partegris{
    background-color: rgb(243, 240, 240); 
    height: 1230px; 
    width: 730px;
    border-radius: 1% solid black;
    margin-left: 20%;
   

}

.border{
    border: solid black 1px ;
   height: 1230px;
}
.img{
    width: 50px;
    height: 50px;
   

     
}
.grid2{
    display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;  
 
  
}
.moverIcons{
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr; 
    margin: 95px;

}
    
.v-line{
    border-left: 2px solid #000;
    height: 39%;
    left: 50%;
    position: absolute;
   }
   #boton{

   
    background-color: #000;
    color: white;

   }

   #nombre{
   margin-left: 26%;
     background-color: rgb(221, 207, 207);
     color: rgb(0, 0, 0);
   }
   
   .botonNube{
   background-color: #c3e5e6;
   }
  .botonOscuro{
   background-color: #808a8a;
   }
  .botonLluvia{
   background-color: #83bdd0;
   }
   .botones{

   display: grid;
   width: 200px;
   height: 20px;
   gap: 25px;
   
   }

